{% extends 'base.html.twig' %}

{% block title %}
	Liste tâches
{% endblock %}

{% block body %}
	<h1>Toutes les tâches</h1>

	{{form(form)}}

		{% for task in tasks %}
			<div>
				<div class="d-flex align-items-start gap-5">
                    <h2>
					    {{task.title}}
				    </h2>
                    <form action="{{path('task_delete')}}" 
                          method="POST"
                          onsubmit="return confirm('Supprimer??')"
                          >
                        <input type="hidden" name="id" value="{{task.id}}">
                        <button class="p-0 text-danger fs-3 btn"><i class="bi bi-trash-fill"></i></button>
                    </form>
                </div>

				<form action="{{path('task_complete')}}" method="POST">
					<input type="hidden" name="id" value="{{task.id}}">
					<label for="">
						Fait
						<input {{task.isDone?'checked':''}} type="checkbox" onchange="submit()">
					</label>
				</form>
				<small>Créé le
					{{task.createdAt | date('d/m/Y H:i:s')}}
				</small>
			</div>
			<hr>
		{% endfor %}

	{% endblock %}
